@import 'tailwindcss';

:root {
  --background: #606060;
  --foreground: #ffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
